@CHARSET "UTF-8";
.container{
	
	width:80%;
	margin:0 auto;
}

h2{
	text-align: center;
	opacity: 0.8;
}

.content{
	
	width:80%;
	height:700px;
	padding:10px;
}
select{
	padding:5px;
}